/**
 * @name OriginV1 / ClearVisionV7
 * @author UnknownCreatorDevelopmentTeam™, ClearVisionTeam
 * @version 1.0.1, 7.0.1
 * @description Custom theme.
 * @source https://github.com/ClearVision/ClearVision-v7
 */
/* IMPORT CSS */
@import url("https://raw.githubusercontent.com/TUnknownCreator/Origin-Theme/refs/heads/main/main.css"); /* https://clearvision.github.io/ClearVision-v7/main.css */
@import url("https://clearvision.github.io/ClearVision-v7/vencord.css");
@import url("https://raw.githubusercontent.com/acheronx0577/Better-Compact-Command-Menu-With-Smooth-Transition/refs/heads/main/Better%20Compact%20Command%20Menu%20With%20Smooth%20Transition.css");
@import url(https://raw.githubusercontent.com/sadan4/discordStyles/refs/heads/main/src/cleanup/roundedProfileDecorations.css);
/* SETTINGS */
:root {
  /* ACCENT COLORS */
  --main-color: #4a4cd3c9; /* main accent color (hex, rgb or hsl) [default: #2780e6] */
  --hover-color: #75b46a9f; /* hover accent color (hex, rgb or hsl) [default: #1e63b3] */
  --success-color: #43b581; /* positive accent color (hex, rgb or hsl) [default: #43b581] */
  --danger-color: #982929; /* danger accent color (hex, rgb or hsl) [default: #982929] */
  /* STATUS COLORS */
  --online-color: #43b581; /* online status color (hex, rgb or hsl) [default: #43b581] */
  --idle-color: #faa61a; /* idle status color (hex, rgb or hsl) [default: #faa61a] */
  --dnd-color: #982929; /* dnd status color (hex, rgb or hsl) [default: #982929] */
  --streaming-color: #593695; /* streaming status color (hex, rgb or hsl) [default: #593695] */
  --offline-color: #808080; /* offline/invisible status color (hex, rgb or hsl) [default: #808080] */
  /* APP BACKGROUND */
  --background-shading-percent: 100%; /* app background shading amount (0 for complete smoothness) [default: 100%] */
  --background-image: url(); /* app background image (link must be HTTPS) [default: url(https://clearvision.github.io/images/sapphire.jpg)]*/
  --background-position: center; /* app background position [default: center] */
  --background-size: cover; /* app background size (px) [default: cover] */
  --background-attachment: fixed; /* app background attachment [default: fixed] */
  --background-filter: saturate(calc(var(--saturation-factor, 1) * 1)); /* app background adjustments (ex: blur, saturation, brightness) (more info: https://developer.mozilla.org/en-US/docs/Web/CSS/filter) [default: saturate(calc(var(--saturation-factor, 1) * 1))] */
  /* USER POPOUT BACKGROUND */
  --user-popout-image: var(--background-image); /* user popout background image (link must be HTTPS) (not applied to nitro users) [default: var(--background-image)] */
  --user-popout-position: var(--background-position); /* user popout position [default: var(--background-position)] */
  --user-popout-size: var(--background-size); /* user popout size (px) [default: var(--background-size)] */
  --user-popout-attachment: var(--background-attachment); /* user popout background attachment [default: var(--background-attachment)] */
  --user-popout-filter: var(--background-filter); /* user popout background adjustments (ex: blur, saturation, brightness) (more info: https://developer.mozilla.org/en-US/docs/Web/CSS/filter) [default: var(--background-filter);] */
  /* USER MODAL BACKGROUND */
  --user-modal-image: var(--background-image); /* user modal background image (link must be HTTPS) (not applied to nitro users) [default: var(--background-image)] */
  --user-modal-position: var(--background-position); /* user modal position [default: var(--background-position)] */
  --user-modal-size: var(--background-size); /* user modal size (px) [default: var(--background-size)] */
  --user-modal-attachment: var(--background-attachment); /* user modal background attachment [default: var(--background-attachment)] */
  --user-modal-filter: var(--background-filter); /* user modal background adjustments (ex: blur, saturation, brightness) (more info: https://developer.mozilla.org/en-US/docs/Web/CSS/filter) [default: var(--background-filter);] */
  /* HOME ICON */
  --home-icon: url(https://clearvision.github.io/icons/discord.svg); /* home button icon (link must be HTTPS) [default: url(https://clearvision.github.io/icons/discord.svg)]*/
  --home-size: cover; /* home button icon size (px) [default:cover] */
  /* FONTS */
  --main-font: "gg sans", "Helvetica Neue", Helvetica, Arial, sans-serif; /* main font for app (font must be installed) [default: gg sans, Helvetica Neue, Helvetica, Arial, sans-serif] */
  --code-font: Consolas, "gg mono", "Liberation Mono", Menlo, Courier, monospace; /* font for codeblocks (font must be installed) [default: Consolas, Liberation Mono, Menlo, Courier, monospace] */
  /* CHANNEL COLORS */
  --channel-normal: var(--interactive-normal); /* channel text color [default: var(--interactive-normal)] */
  --channel-muted: var(--interactive-muted); /* muted channel text color [default: var(--interactive-muted)] */
  --channel-hover: var(--interactive-hover); /* hovered channel text color [default: var(--interactive-hover)] */
  --channel-selected: var(--interactive-active); /* selected channel text color [default: var(--interactive-active)] */
  --channel-selected-bg: var(--main-color); /* selected channel background [default: var(--main-color)] */
  --channel-unread: var(--main-color); /* unread channel text color [default: var(--main-color)] */
  --channel-unread-hover: var(--hover-color); /* unread channel hover color [default: var(--hover-color)] */
  /* ACCESSIBILITY */
  --focus-color: var(--main-color); /* outline when pressing TAB key [default: var(--main-color)] */
}

/* THEME SPECIFIC SHADING */
/* LIGHT THEME */
:is(.theme-light, .theme-dark .theme-light) {
  --background-shading: rgba(252, 252, 252, 0.3); /* app background shading color [default: rgba(252, 252, 252, 0.3)] */
  --card-shading: rgba(252, 252, 252, 0.3); /* cards background shading color [default: rgba(252, 252, 252, 0.3)] */
  --popout-shading: rgba(252, 252, 252, 0.7); /* popouts background shading color [default: rgba(252, 252, 252, 0.7)] */
  --modal-shading: rgba(252, 252, 252, 0.5); /* modals background shading color [default: rgba(0, 0, 0, 0.6)] */
  --input-shading: rgba(0, 0, 0, 0.3); /* inputs background shading color [default: rgba(0, 0, 0, 0.6)] */
  --normal-text: #36363c; /* text color [default: #36363c] */
  --muted-text: #75757e; /* muted text color [default: #75757e] */
}

/* ASH THEME */
:is(.theme-dark, .theme-light .theme-dark) {
  --background-shading: rgb(20, 20, 20); /* app background shading color [default: rgba(0, 0, 0, 0.4)] */
  --card-shading: rgba(0, 0, 0, 0.2); /* cards background shading color [default: rgba(0, 0, 0, 0.2)] */
  --popout-shading: rgba(0, 0, 0, 0.6); /* popouts background shading color [default: rgba(0, 0, 0, 0.6)] */
  --modal-shading: rgba(0, 0, 0, 0.4); /* modals background shading color [default: rgba(0, 0, 0, 0.4)] */
  --input-shading: rgba(255, 255, 255, 0.05); /* inputs background shading color [default: rgba(255, 255, 255, 0.05)] */
  --normal-text: #d8d8db; /* text color [default: #d8d8db] */
  --muted-text: #636276; /* muted text color [default: #aeaeb4] */
}

/* DARK THEME */
:is(.theme-darker, .theme-light .theme-darker) {
  --background-shading: rgba(0, 0, 0, 0.6); /* app background shading color [default: rgba(0, 0, 0, 0.6)] */
  --card-shading: rgba(0, 0, 0, 0.3); /* cards background shading color [default: rgba(0, 0, 0, 0.3)] */
  --popout-shading: rgba(0, 0, 0, 0.7); /* popouts background shading color [default: rgba(0, 0, 0, 0.7)] */
  --modal-shading: rgba(0, 0, 0, 0.5); /* modals background shading color [default: rgba(0, 0, 0, 0.6)] */
  --input-shading: rgba(255, 255, 255, 0.05); /* inputs background shading color [default: rgba(255, 255, 255, 0.05)] */
  --normal-text: #fbfbfb; /* text color [default: #fbfbfb] */
  --muted-text: #94949c; /* muted text color [default: #94949c] */
}

/* ONYX THEME */
:is(.theme-midnight, .theme-light .theme-midnight) {
  --background-shading: rgba(0, 0, 0, 0.8); /* app background shading color [default: rgba(0, 0, 0, 0.8)] */
  --card-shading: rgba(0, 0, 0, 0.4); /* cards background shading color [default: rgba(0, 0, 0, 0.4)] */
  --popout-shading: rgba(0, 0, 0, 0.8); /* popouts background shading color [default: rgba(0, 0, 0, 0.8)] */
  --modal-shading: rgba(0, 0, 0, 0.6); /* modals background shading color [default: rgba(0, 0, 0, 0.6)] */
  --input-shading: rgba(255, 255, 255, 0.05); /* inputs background shading color [default: rgba(255, 255, 255, 0.05)] */
  --normal-text: #dcdcde; /* text color [default: #dcdcde] */
  --muted-text: #86868e; /* muted text color [default: #86868e] */
}

/* ADD ADDITIONAL CSS BELOW HERE */

/*----------------------------------------------------------------------*/

/*  GUILD TAGS COLLAPSE   */

[class^="chipletContainerInner_"] > span > .unselectable__10651 {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
  will-change: max-width, margin;
  transition: max-width 0.7s cubic-bezier(0.34, 1.56, 0.64, 1), 
              margin 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
}

[class^="chipletContainerInner_"]:hover > span > .unselectable__10651 {
  max-width: 20ch;
  margin-right: .3ch;
  /* Prevents it from triggering if you just quickly mouseover :D */
  transition-delay: 0.08s;
}

[class^="chipletContainerInner_"] > span > img.badge__10651 {
  margin-right: 0;
  transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1), 
              margin 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
}

[class^="chipletContainerInner_"]:hover > span > img.badge__10651 {
  transform: rotateZ(360deg);
  margin-right: .6ch;
  /* Same as above transition delay */
  transition-delay: 0.08s;
}

[class^="chipletContainerInner_"] {
  position: relative;
}

[class^="chipletContainerInner_"]::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  pointer-events: none;
}

/*----------------------------------------------------------------------*/

/*Swap clan tag and role icon*/

[class^="headerText"] {
  display: inline-flex;
}

[class^="headerText"] > span:has([class^="roleIcon"]) {
  order: 2;
}

[class^="headerText"] > span:has([class^="chipletContainerInner"])  {
  order: 3;
}

[class^="headerText"] > span:is([class^="username"]) {
  order: 1;
}

[class^="headerText"] > span[style="display: none;"] {
  order: 4;
}

[class^="headerText"] > .vc-message-decorations-wrapper {
  order: 5;
}

[class^="headerText"] > span:has(> [class^="newMemberBadge"]) {
  order: 6;
}

[class^="headerText"] > span:is([class^="botTag"]) {
  order: 7;
}

/*----------------------------------------------------------------------*/

.avatarWrapper__37e49 {
    flex-direction: column;
    width: auto;
    min-width: 48px;
    height: 48px;
    box-sizing: border-box;
    justify-content: center;
    flex: 1 !important;
    border-radius: var(--radius-sm);
    align-items: center; /* This change centers the items horizontally in the flex column */

    .avatar__37e49 {
        width: 40px !important;
        height: 40px !important;

        >svg {
            /* These styles are no longer needed as the parent is now centered */
            scale: 1;
            top: 0;
            left: 0;
        }
    }

    .nameTag__37e49 {
        display: none; /* This change removes the name tag */
    }

    .panelSubtextContainer__37e49 {
        display: none;
    }

    .panelTitleContainer__37e49 {
        display: none; /* This change removes the name title */
    }
}

.buttons__37e49 {
    display: contents;

    .button__67645 {
        display: flex;
        flex-direction: column;
        min-width: 48px;
        width: auto;
        flex: 1;
        gap: 8px;
        padding: 5px calc(var(--custom-guild-list-padding) - var(--custom-panels-spacing) - 4px);
        height: 48px;

        &::after {
            color: inherit;
            content: attr(aria-label);
            line-height: 12px;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-family: var(--font-primary);
            font-size: 12px;
            font-weight: 500;
            max-width: 100%;
            text-align: center;
            overflow: hidden !important;
        }

        &.redGlow__67645::after {
            color: var(--status-danger);
        }
    }
}

.container__37e49 {
    justify-content: center;
    /* flex-direction: row-reverse; */
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.micButtonParent__37e49 {
    flex: 1;
}

/* guess who had to put this here to meet discord char limit? me!*/

/*----------------------------------------------------------------------*/

:root {
    --folder-size: 250px;
    --folder-padding: 18px;
}

.guilds_c48ade {
    mask: none !important;
}


.stack_dbd263>div.folderGroup__48112.isExpanded__48112 {
    top: calc(50vh - var(--folder-size) / 2);
    left: calc(50vw - var(--folder-size) / 2);
    position: fixed;
    width: var(--folder-size) !important;
    height: var(--folder-size);
    align-self: center !important;
    justify-self: center !important;
    z-index: 200;
    pointer-events: all;

    >.listItem__650eb,
    .folderButton__48112 {
        position: fixed;
        background: rgb(0, 0, 0, 0.25);
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        z-index: -2;
        pointer-events: all;

        >.wrapper_cc5dd2 {
            .svg_cc5dd2 {
                contain: none;
            }

            foreignObject {
                mask: none !important;
                overflow: visible;
            }
        }
    }

    .folderGuildsList__48112 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: var(--folder-size) !important;
        max-height: var(--folder-size);
        align-items: start;
        align-content: start;
        justify-content: space-between;
        box-sizing: border-box;
        padding: var(--folder-padding) !important;
        overflow: hidden scroll;

        >div {
            height: 40px !important;
            width: 40px;
        }

        &::before {
            content: attr(aria-label);
            font-size: 20px;
            color: white;
            z-index: 200;
            position: absolute;
            width: 100%;
            text-align: center;
            top: -40px;
            left: 0px;
            filter: drop-shadow(0px 0px 10px black);
            pointer-events: none !important;
        }

        &::-webkit-scrollbar {
            height: 8px;
            width: 8px;
        }

        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }



        &::-webkit-scrollbar-thumb {
            background-clip: padding-box;
            background-color: var(--scrollbar-thin-thumb);
            border: 2px solid transparent;
            border-radius: 4px;
            min-height: 40px;
        }

        &::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar-track {
            visibility: hidden;
        }

        &:hover {

            &::-webkit-scrollbar-thumb,
            &::-webkit-scrollbar-track {
                visibility: visible;
            }
        }

        &::-webkit-scrollbar-track {
            background-color: var(--scrollbar-thin-track);
            border: 2px solid var(--scrollbar-thin-track);
            border-color: var(--scrollbar-thin-track);
        }

        >:first-child {
            margin: 0px;
        }
    }

    .folderGroupBackground__48112 {
        left: 0px;
        top: 0px;
        width: var(--folder-size) !important;
        height: var(--folder-size);
        backdrop-filter: blur(20px);
        z-index: -1;
    }

    .folderButtonInner__48112 {
        position: fixed;
        top: calc(50vh - calc(var(--folder-size) / 2) - 54px);
        left: calc(50vw - var(--folder-size) / 2);
        pointer-events: none !important;

        .folderButtonContent__48112 {
            width: var(--folder-size);
            display: flex;
            /* flex-direction: row-reverse; */
            justify-content: space-between;
            pointer-events: none !important;

            .folderPreviewWrapper__48112 {
                display: none;
            }

            .folderIcon__48112>svg>path {
                /* d: path("M17.3 18.7a1 1 0 0 0 1.4-1.4L13.42 12l5.3-5.3a1 1 0 0 0-1.42-1.4L12 10.58l-5.3-5.3a1 1 0 0 0-1.4 1.42L10.58 12l-5.3 5.3a1 1 0 1 0 1.42 1.4L12 13.42l5.3 5.3Z") */
            }
        }
    }

    .folderButtonContent__48112,
    .folderButtonInner__48112 {
        overflow: visible !important;
    }
}



.notAppAsidePanel_a3002d:has(.folderGroup__48112.isExpanded__48112 .folderButton__48112:hover) .listItemTooltip__91816 {
    display: none;
}

/*----------------------------------------------------------------------*/

/* Hide blocked/ignored user information in replies (most of the time) */
[id^="message-reply-context-"]:has([class^="repliedTextPlaceholder_"]):not(:has([class^="repliedTextContentTrailingIcon_"])) :is([class^="replyAvatar_"], [class^="username_"], span:has([src^="https://cdn.discordapp.com/clan-badges/"])) {
    display: none;
}

/*----------------------------------------------------------------------*/
